  th{
            background-color: rgb(47, 34, 135);
            color: white;
            padding: 8px;
        }
        .costum-table{
            border-collapse: collapse;
        }
        td{
            background-color: rgb(182, 175, 175);
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 16px;
            padding-top: 16px;
        }
        button{
            background-color: rgb(47, 34, 135);
            color: white;
        }