  .personal-details {
      text-align: center;
  }

  .kokab-ali {
      text-align: right;
      color: cadetblue;
  }

  .img-body {
      border-radius: 20px;
      margin: 78%;
      margin-top: 10px;
  }

  .p-body {
      color: aliceblue;
  }