  .background-color {
      background-color: purple;
      padding: 20px;
  }

  .img-body {
      height: 200px;
      width: 200px;
      border: 1px solid black;
      border-radius: 8px;
  }

  .img-border-radius {
      border-radius: 8px;
  }

  .img2-body {
      height: 200px;
      width: 200px;
      border: 1px solid black;
      border-radius: 8px;
      background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb);
      background-size: cover;
      background-position: center;
      opacity: 1;
      outline: 5px solid black;
      box-shadow: 10px 20px 30px grey;
  }